
.sensor-values {
    display: flex;
    gap: 100px;
    font-size: 6rem;
}

.value {
    display: flex;
    align-items: baseline;
}

.number {
    font-weight: 700; /* Negrita */
}

.unit {
    font-weight: 700;
    font-size: 3rem;
    margin-left: 5px;
}
