/* Header styles */
.navbar-brand img {
    height: 30px; /* Tamaño del logotipo */
}

.navbar-nav .nav-link {
    color: #333;
    margin: 0 20px; /* Más separación entre enlaces */
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #e31013;
    text-decoration: none;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.nav-link:hover {
    color: #e31013;
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #333;
}

