* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sensor {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    color: #4CAF50;
}

h2>span {
    font-size: 26px;
    color: #4CAF50;
}

p {
    font-size: 16px;
}

strong {
    color: #333;
}

#ozone-value {
    color: #e74c3c;
}

#temperature-value {
    color: #3498db;
}

#ozone-last-updated,
#temperature-last-updated {
    color: #777;
    font-size: 14px;
}
